{% extends "base.html" %}
{% set active_page = "gallery" %}
{% block title %} {{title}} {% endblock %}


{% block content %}


<div class="container">
  
  <div class = "row">
    {% for recipe in recipes %}
    <div class = "col-lg-3">
      <div class = "card mx-auto h-100 border-0" >
        <img class="card-img-top h-76" src ={{recipe.flag }} alt="Country Flag">
        <div class="card-body">
          <p class="card-text text-left">{{ recipe.name }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<hr>

</div>

 
{% endblock %}